<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- we dont have to use the full route or address we can use it as -->
  </head>
  <body>
    hey there this is the home rroute written int the ejs
  </body>
</html>
