<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: green">
    <h1>holy sheeeet wtf si this walskjfd;lakjsdlfkjaldksjflkajsdlfkj</h1>
    omgggggg wtffff <%= 2+2 %>
    <!-- this takes the 2+2 and make it 4  -->
  </body>
</html>
